* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #8758ff;
}

.TodoList {
  display: flex;
  align-items: center;
  max-width: 550px;
  background: #282e34;
  border-radius: 5px;
  flex-direction: column;
  margin: 35px auto;
  padding: 25px;
  white-space: nowrap;
}

.TodoForm {
  padding: 25px;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 37px;
}

.TodoForm > input {
  width: 320px;
  background: #fff;
  border: 1px solid #8758ff;
  padding: 10px;
  font-size: 17px;
}

.TodoForm > button {
  color: #fff;
  padding: 10px;
  border: #8758ff;
  background: #8758ff;
  cursor: pointer;
  font-size: 17px;
}

.todo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 12px;
  width: 100%;
  font-size: 17px;
  border-radius: 5px;
  background: #8758ff;
  color: #fff;
  cursor: pointer;
}

.fa-trash {
  margin-right: 12px;
}

.completed {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 12px;
  width: 100%;
  font-size: 17px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: #ffb803e0;
}
